body {
  margin: 0;
}
main {
  background-color: aqua;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mountain {
  display: block;
  position: relative;
  width: 195%;
}

.climber {
  position: absolute;
  width: 3%;
  z-index: 1;
}

.flag {
  position: absolute;
  width: 5%;
  top: 0%;
  left: 81%;
}

.flag-start {
  display: none;
}

.point {
  position: absolute;
  width: 2%;
  height: .5%;
  background-color: orangered;
}

.point1 {
  top: 88%;
  left: 22%;
}

.point2 {
  top: 67%;
  left: 33%;
}

.point3 {
  top: 44%;
  left: 45%;
}

.point4 {
  top: 38%;
  left: 59%;
}

.point5 {
  top: 29%;
  left: 70%;
}

.point6 {
  top: 9%;
  left: 83%;
}
